.floatRight {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #dd0000;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.floatLeft {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	left: 40px;
	background-color: #03266a;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.floatLeftTwitter {
	visibility: hidden;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 120px;
	left: 40px;
	background-color: #1DA1F2;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.floatRightTwitter {
	visibility: hidden;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 120px;
	right: 40px;
	background-color: #1DA1F2;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
	margin-top: 22px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    margin: 0px;
}

.path.path-S.uncalled.PartyGOP {
    fill: #ffb3b3;
    fill-opacity: 0.8;
}
.path.path-S.uncalled.PartyDem {
    fill: #c2e7ff;
    fill-opacity: 0.8;
}
.legend-swatch.uncalled.PartyGOP {
    background-color: #ffb3b3;
}

.legend-swatch.uncalled.PartyDem {
    background-color: #c2e7ff;
}
.path.path-S {
    stroke: #ececec;
    stroke-width: 2px;
}
